# Object files
*.o
*.ko
*.obj
*.elf

# Test executable
test
rc_control

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.save
cmake-build-debug/
/.360_controller_map.h.swp
/CMakeFiles/
/.CMakeLists.txt.swp
/.easy_serial.h.swp
/.odroid_test_analog.swp
/.way.swp
/cmake_install.cmake
/CMakeCache.txt
/joystick.cbp
/Makefile
/odroid_test_analog_origine.c
